/* General container styling */
.tour-container {
    margin: 0 auto;
    padding: 1rem;
}

/* Header section */
.tour-header {
    display: flex;
    align-items: center;
    height: 15vh;
    border: 2px solid #d1d5db;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-right: 10%;
    border-radius: 5px;
}

/* Date picker input */
.tour-date-picker input {
    border: 2px solid #d1d5db;
    margin: 0;
    padding: 15px 10px;
    border-radius: 5px;
    width: 250px;
    font-size: x-large;
    text-align: center;
    margin-left: 5%;
}

.tour-date-picker{
    margin-right: 2%; /* Adds space between each section */
    margin-left: 2%;
} 

.search-input input {
    border: 2px solid #d1d5db;
    margin: 0;
    padding: 15px 10px;
    border-radius: 5px;
    width: 250px;
    font-size: x-large;
    text-align: center;
    margin-left: 5%;
}

.search-input{
    margin-right: 2%; /* Adds space between each section */
    margin-left: 2%;
}

/* Container for the section containing the date picker */
.tour-section {
    display: flex;
    align-items: center;
    height: 15vh;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid #d1d5db;
    border-radius: 5px;
    padding-right: 10%;
}


/* Table header */
.tour-table-header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    background-color: #666;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

/* Table rows */
.tour-table-row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

/* Alternating row background */
.tour-table-row-alt {
    background-color: #f3f3f3;
}

/* Scrollable area */
.tour-scroll {
    max-height: 60vh;
    overflow-y: auto;
}

/* Hide scrollbar but allow scrolling */
.tour-scroll::-webkit-scrollbar {
    display: none;
}

/* Fund button */
.tour-fund-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fund button hover effect */
.tour-fund-icon {
    transition: transform 0.2s ease-in-out;
}

.tour-fund-icon:hover {
    transform: scale(1.1);
}
